{% set random_string = randomstr(24) %}
{% set database_pword = randomstr(24) %}

APP_KEY={{randomstr(16)}}
JWT_KEY={{randomstr(32)}}
ENV_NAME={{env_name}}
DB_PASSWORD={{database_pword}}
{% if portmap.postgres is defined %}DB_STRING='postgres://postgres:{{ database_pword }}@{{ portmap.postgres.ip }}:{{ portmap.postgres.port }}/{{ portmap.postgres.dbname }}'{% endif %}

# ------------------------------------
# --- Docker Compose .env Settings ---
# ------------------------------------

DOCKER_NETWORK_IP=10.21.0.0/16
NETWORK_NAME=deadbox
DB_PORT=5432
HOST_IP=127.0.0.1
RESTART=unless-stopped # unless-stopped, no, always
GATEWAY=10.21.0.1
GRAPHANA_PORT=3000
DEBUG=true

# ------------------------------------
# --- ENVIRONMENTS -------------------
# ------------------------------------

{% for app_name, app_data in portmap.items() %}
# ------------------------------------
# --- {{ app_name | upper }} 
# ------------------------------------
{% for key, value in app_data.items() %}
{{ app_name | upper }}_{{ key | upper }}={{ value }}{% endfor %}
{% endfor %}